<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
  <style>

  </style>
  <script src="http://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>  
  <script type="text/javascript">

    (document).ready(function(){
      console.log("jQuery has loaded properly")

      

    });

    </script>
  <title>You Win!</title>
</head>
<body>
  <div id=wrapper>
    <div id="guessing_box">
      <h1>Welcome to the Great Number Game!</h1>
      <h3>I am thinking of a number between 1 and 100</h3>
      <h3>Take a guess!</h3>
      <div class="guess_right">
        <form action="/reset" method="post" accept-charset="utf-8">
          <h2>{{ session["answer"] }} was the number!</h2>
          <button class="win" type="submit">Play again!</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>