*{
  font-family: arial;
}

#return_display{
  border: 2px solid black;
  padding: 10px;
  width: 250px;
  height: 320px;
  position: absolute;
  left: 33%;
  top: 33%;
}
h4{
  text-decoration: underline;
}
.info{
  display: block;
}
#returned_info{
  width: 240px;
  display: block;
  padding-left: 20px;
}
a{
  text-decoration: none;
  color: #545556;
}
button{
  background-color: #2196f3;
  box-shadow: 5px 5px 2px #888888;
  position: absolute;
  left: 140px;
  bottom: 10px;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
  position: absolute;
  right: 15px;
}