<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <style>

  </style>
  <script src="http://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>  
  <script type="text/javascript">

    (document).ready(function(){
      console.log("jQuery has loaded properly")

      

    });

    </script>
  <title>Success!</title>
</head>
<body>
    {% if messages %}
    <ul>
    {% for category, message in messages %}
        <h3><li class="confirm_message">{{ message }}</li></h3>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Welcome, {{ user["first_name"] }}!</h2>
</body>
</html>