<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  <style>

  </style>
  <script src="http://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>  
  <script type="text/javascript">

    (document).ready(function(){
      console.log("jQuery has loaded properly")

      

    });

    </script>
  <title>Delete a course</title>
</head>
<body>
    <div class="destroy_wrapper">
      <h1>Are you sure you want to delete the following course?</h1>
      <p>Name:<span class="one">{{ course.course_name }}</span></p>
      <p>Description:<span class="two">{{ course.desc }}</span></p>
      <form action="/" method="POST" accept-charset="utf-8">
          {% csrf_token %}
          <input class="no" type="submit" name="no" value="No">
      </form>
      <form action="/courses/delete/{{ course.id }}" method="POST" accept-charset="utf-8">
          {% csrf_token %}
          <input class="yes" type="submit" name="yes" value="Yes! I want to delete this">
      </form>
    </div>
</body>
</html>