<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <style>

  </style>
  <script src="http://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>  
  <script type="text/javascript">

    (document).ready(function(){
      console.log("jQuery has loaded properly")

      

    });

    </script>
  <title>Random Word Generator</title>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <h2>Random Word (attempt #{{ request.session.count }})</h2>
        </div>
            <form action="/generate_word/" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <div class="word">
                    {{ word }}
                </div>
                <input type="submit" name="generate_word" value="Generate">
            </form>
        </div>
    </div>
</body>
</html>