#wrapper{
    padding: 5%;
    height: 300px;
}
.add_box{
    width:33%;
    display: inline-block;
    border-right: 5px solid black;
}
.radio{
    display: block;
    padding: 5px 5px 5px 10px;
}
.submit{
    display: block;
    margin-top: 20px;
}
label{
    padding-top: 10px;
}
.fonts{
    margin-top: 15px;
}
.output_box{
    display: inline-block;
    width: 33%;
    position: absolute;
    right: 30%;
    top: 10%;
}